---
title: My Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!--Use the default prism syntax highlighting theme.-->
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet">

    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    {% include "google-tag.njk" %}
  </head>
  <body>
    <header>
    <a href='/'>Home</a>
    </header>
    {{ content | safe }}
  </body>
</html>
