@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --color-red: #ff4444;
}

body {
  background: #fcfcfc;
  font-family: "Roboto", sans-serif;

  /* Makes text unselectable. */
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Font-pairing with Roboto + Lora. */
h1,
h2 {
  font-family: "Lora", sans-serif;
}

/* https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
article h1 {
  font-size: 2.5em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
}

article h2 {
  font-size: 2em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
}

article h3 {
  font-size: 1.75em;
  line-height: calc(1ex / 0.38);
  margin: calc(1ex / 0.38) 0;
}

article h4 {
  font-size: 1.5em;
  line-height: calc(1ex / 0.37);
  margin: calc(1ex / 0.37) 0;
}

article p {
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

main {
  min-height: 100vh;
  max-width: 40rem;
  width: 100%;
  margin: auto;
}

header {
  background: white;
  padding: 1rem;
  /* Stick header. */
  position: sticky;
  top: 0;
}

main {
  padding: 1rem;
}

footer {
  padding: 1rem;
  font-size: small;
  text-align: center;
}

.header-link {
  text-decoration: none;
  font-weight: bold;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 0.5rem;
  align-items: center;
}

.header-link-image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.header-anchor {
  text-decoration: none;
  color: inherit;
}
/* The CSS :target pseudo-selector in CSS matches when the hash in the URL and
 * the id of an element are the same. 
 * We use this to style the anchor. */
:target {
  background: #fff6c0;
}

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.tag {
  background: #eee;
  border-radius: 0.5rem;
  padding: 0.5rem;
  line-height: 1rem;
  font-size: small;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.tag:hover {
  background: #ddd;
}

.post-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
