---
layout: layout.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter: ["all", "allTags"] 
  reverse: true
permalink: /tag/{{tag}}/
---

<article>
  <h2>Tagged with "{{tag}}" </h2>

  <div>
    <ul>
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
      <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</article>
